<h1>タスクの作成</h1>
<%= form_for @task do |f| %>
<dl>
<dt>メンバー</dt>
<dd><%= f.collection_select :member_id,
                        Member.all, :id, :name %></dd>
<dt>タイトル</dt>
<dd><%= f.text_field :title %></dd>
<dt>中身</dt>
<dd><%= f.text_area :content %></dd>
</dl>
<%= link_to 'キャンセル', tasks_path %>
<%= f.submit '登録' %>
<% end %>
