<h1>メンバー「<%= @member.name %>」の編集</h1>

<%= form_for @member do |f| %>
    <dl>
        <dt>名前</dt>
        <dd><%= f.text_field :name %></dd>
        <dt>メールアドレス</dt>
        <dd><%= f.email_field :email %></dd>
        <dt>年齢</dt>
        <dd><%= f.number_field :age %></dd>
    </dl>

    <%= link_to 'キャンセル', member_path(@member) %>
    <%= f.submit '更新' %>
<% end %>
