<h1>メンバーの作成</h1>
<%= form_for @member do |f| %>
<dl>
<dt>名前</dt>
<dd><%= f.text_field :name %></dd>
<dt>メールアドレス</dt>
<dd><%= f.email_field :email %></dd>
<dt>年齢</dt>
<dd><%= f.number_field :age %></dd>
</dl>
<%= link_to 'キャンセル', members_path %>
<%= f.submit '登録' %>
<% end %>
